
/.vs
/GestionCandidatosApi/obj
/GestionCandidatosApi/bin
/GestionCandidatosApi/bin
/GestionCandidatosApi/obj
/GestionCandidatosApi/obj
/GestionCandidatosApi/obj
/GestionCandidatosApi/bin/Debug
/GestionCandidatosApi/bin
/GestionCandidatosApi/obj
GestionCandidatosApi/obj/Debug/net8.0/apphost.exe
/GestionCandidatosApi/obj/Debug
/GestionCandidatosApi/obj/Debug/net8.0
/GestionCandidatosApi/obj/Debug/net8.0
/GestionCandidatosApi/obj
/GestionCandidatosApi/obj
/GestionCandidatosApi/obj
/GestionCandidatosApi/obj
/GestionCandidatosApi/obj
GestionCandidatosApi/obj/project.nuget.cache
GestionCandidatosApi/obj/project.assets.json
GestionCandidatosApi/obj/GestionCandidatosApi.csproj.nuget.g.props
GestionCandidatosApi/obj/GestionCandidatosApi.csproj.nuget.dgspec.json
GestionCandidatosApi/obj/Debug/net8.0/refint/GestionCandidatosApi.dll
GestionCandidatosApi/obj/Debug/net8.0/ref/GestionCandidatosApi.dll
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.sourcelink.json
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.pdb
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.genruntimeconfig.cache
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.dll
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.csproj.CoreCompileInputs.cache
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.csproj.AssemblyReference.cache
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.assets.cache
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.AssemblyInfoInputs.cache
GestionCandidatosApi/obj/Debug/net8.0/GestionCandidatosApi.AssemblyInfo.cs
GestionCandidatosApi/obj/Debug/net8.0/apphost.exe
/GestionCandidatosApi/bin
/GestionCandidatosApi/bin/Debug
/GestionCandidatosApi/bin/Debug/net8.0
